.menubar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 100%;
    font-size: 20px;
    border-right: 2px solid black;
    z-index: 1;
}

.menu_content {
    display: block;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 3px;
}

li a:link{
    color:black;
}
li a:visited {
    color: black;
}

li a:hover {
    color: black;
}

ul {
    list-style: none;
    padding-left: 10px;
}

* {
    font-family: 'Black Han Sans', sans-serif;
}

a {
    text-decoration: none;
}