#result {
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult {
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#resultImg {
    width: 70%;
}

.kakao {
    color: white;
    background-color: slategray;
    font-size: 25px;
    border: 0px;
    border-radius: 30px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
}

.kakao:hover,
.kakao:focus {
    background-color: lightgray;
    color: slategray;
}

.gohome {
    color: white;
    background-color: slategray;
    font-size: 25px;
    border: 0px;
    border-radius: 30px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
}

.gohome:hover,
.gohome:focus {
    background-color: lightgray;
    color: slategray;
}

.resultname {
    font-size: 35px;
}

.resultDesc {
    font-size: 25px;
    margin:5px;
}

.recom_box{
    color: black;
    background-color: darkgray;
    font-size: 25px;
    border: 0px;
    border-radius: 30px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
}