#result {
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult {
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#resultImg {
    width: 70%;
}

.kakao {
    color: white;
    background-color: slategray;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

.kakao:hover,
.kakao:focus {
    background-color: lightgray;
    color: slategray;
}

.gohome {
    color: white;
    background-color: slategray;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

.gohome:hover,
.gohome:focus {
    background-color: lightgray;
    color: slategray;
}

.resultname {
    font-size: 30px;
    font-weight: bold;
}

.resultDesc {
    font-size: 20px;
}